<html>
	<title>Add new SSH host</title>
	<form>
		<label for="friendlyName">Name</label><br>
		<input type="text" id="friendlyName" name=friendlyName></imput><br>

		<label for="hostName">Hostname</label><br>
		<input type="text" id="hostName" name=hostName><br>
		
		<label for="userName">Username</label><br>
		<input type="text" id="userName" name=userName><br>
		
		<label for="port">Port</label><br>
		<input type="text" id="port" name=port value=22><br>
		
		<label for="identityFile">Identity File</label><br>
		<input type="text" id="identityFile" name=identityFile><br><br>
		<button type="button">Submit</button>

	</form>
</html>
